= form_for @restaurant do |f|
  - if @restaurant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@restaurant.errors.count, "error")} prohibited this restaurant from being saved:"
      %ul
        - @restaurant.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :tel
    = f.text_field :tel
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.hidden_field :location
  .field
    = f.label :address
    = f.text_field :address
  #details-wrapper.accordion
    .accordion-group
      .accordion-heading
        %a{:class => "accordion-toggle", 'data-toggle' => "collapse",
           'data-parent' => "form #details-wrapper", :href => "#details"}
          More
      #details.accordion-body.collapse
        .accordion-inner
          .field
            = f.label :business_hour
            = f.text_area :business_hour, :rows => '2'
          .field
            = f.label :holiday
            = f.text_area :holiday, :rows => '2'
          .field
            = f.label :capacity
            = f.number_field :capacity
          .field
            = f.label :credit
            = f.check_box :credit
          .field
            = f.label :parking
            = f.check_box :parking
  .actions
    %button.btn{:type => 'submit'} OK
