- content_for :head do
  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true&language=ja'

#restaurants_list.panel-stacked
  .panel-stacked-item
    %h3 New restaurant
  .panel-stacked-item#map_canvas

= link_to 'Back', restaurants_path

#modal_form.modal.hide{:tabindex => "-1", :role => "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}
  .modal-header
    %button.close{:type => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
      ×
    %h3#myModalLabel このお店を追加しますか？

  = form_for Restaurant.new do |f|
    .modal-body
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :tel
        = f.text_field :tel
      .field
        = f.label :url
        = f.text_field :url
      .field
        = f.hidden_field :location
      .field
        = f.label :address
        = f.text_field :address
     
    .modal-footer
      %button.btn{'data-dismiss' => "modal", 'aria-hidden' => "true"}
        Close
      = f.submit 'Save', :class => 'btn btn-primary'
