%p#notice= notice

%p
  %b Name:
  = @restaurant.name
%p
  %b Tel:
  = @restaurant.tel
%p
  %b Url:
  = @restaurant.url
%p
  %b Location:
  = @restaurant.location
%p
  %b Address:
  = @restaurant.address
%p
  %b Business hour:
  = @restaurant.business_hour
%p
  %b Holiday:
  = @restaurant.holiday
%p
  %b Capacity:
  = @restaurant.capacity
%p
  %b Credit:
  = @restaurant.credit
%p
  %b Parking:
  = @restaurant.parking

= link_to 'Edit', edit_restaurant_path(@restaurant)
\|
= link_to 'Back', restaurants_path
