%h1 Listing posts

%table
  %tr
    %th Comment
    %th Photo
    %th Star
    %th Restarurant
    %th User
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.comment
      %td= post.photo
      %td= post.star
      %td= post.restarurant
      %td= post.user
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
